#install the packages
setuptools
rasterio
rasterstats
fiona
geopandas
geopandas
shapely
pandas
numpy
matplotlib
seaborn
streamlit
streamlit-folium
geemap==0.10.11
leafmap
plotly
contextily
scipy
statsmodels
#pkg_resources
