#install the packages
altair
gcloud
google.cloud
setuptools
rasterio
rasterstats
fiona
geopandas
shapely
pandas
numpy
matplotlib
seaborn
streamlit
streamlit-folium
geemap
leafmap
plotly
contextily
scipy
statsmodels
pillow
#pkg_resources
